<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Position Example 1 - use Position for Layout</title>
    
    <style>
    
        section {
            width: 73%;
            border: double;
            float: right;
        }
    
        ul {
            width: 20%;
            float: left;
        }
    
    
    </style>
    
    
</head>
<body>
<ul>
    <li>
        <a href="">About</a>
    </li>
    <li>
        <a href="">Products</a>
    </li>
    <li>
        <a href="">Blogs</a>
    </li>
    </ul>
    <section>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, nesciunt! Porro voluptatum deleniti placeat enim, ipsam mollitia dignissimos illo, voluptatibus cumque nobis commodi consequuntur, omnis quo accusantium. Minus deserunt, ullam.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod inventore omnis libero fugiat similique ducimus, tempora quo laborum, cumque officia facilis molestiae adipisci excepturi accusamus earum odio id sit, cum.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, recusandae consequuntur tenetur doloribus! Ducimus quasi suscipit, aliquam consequuntur architecto dolorem, accusantium vero eaque inventore labore enim, esse dignissimos reprehenderit consequatur.</article>
    </section>

</body>
</html>