<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Responsive</title>
    
    <style>

        #container {
            display: flex;
            border: solid;
        }
        nav {
            flex: 1;
            -webkit-flex: 1;
        }
        
        #main {
            flex: 4; 
            -webkit-flex: 4;
        }
        
    </style>
    
</head>
<body>
  
<div id="container">
   <nav>
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Blogs</a></li>
    </ul>
   </nav>
    
<div id="main">
    <section>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed porro, labore sint similique veritatis, nemo tempora, aliquam iusto at dolorem necessitatibus eos molestiae. Inventore voluptatum autem id magni, ut vitae.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, suscipit. Dignissimos fugit eum ullam iusto. Minima voluptates obcaecati veniam iste provident. Sit temporibus iure accusantium culpa necessitatibus adipisci neque aliquid.</article>
        <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero distinctio eveniet explicabo veniam voluptates, esse ratione, ullam consequuntur optio dolorem architecto libero facere quas veritatis, magnam molestias nam, accusantium!</article>
    </section></div>
    </div>
</body>
</html>